NODE_ENV=
PORT=

DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

NOMBA_BASE_URL=
NOMBA_PUBLIC_KEY=
NOMBA_SECRET_KEY=
NOMBA_ACCOUNT_ID=

CLIENT_URL=
ADMIN_URL=
MINI_APP_URL=